.networkItem {
    @include floatingCard;

    margin: 1rem;
    color: $companyName;
    border-radius: 8px;
    padding-top: 0.5%;

    .inline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 0.5rem;

        .leftIcon {
            margin-left: 1rem;
        }

        .rightIcon {
            margin-right: 1rem;
        }
    }

    .button {
        @include filledPrimaryButton;
        height: 2rem;
        margin-top: 0;
        margin-right: 1rem;
        width: 25%;
    }

    .input {
        border-width: 2px;
        border-color: $lightGray;
        border-radius: 10px;
        padding-left: 1rem;
        margin-left: 1rem;
        margin-right: 2rem;
        width: 70%;
        height: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: $darkGray;
    }
}
