@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

// COLORS
$turqois: #2292a4;
$darkGray: #4b4b4b;
$lightGray: #e5e5e5;
$lightGreen: #6fcf97;
$lightRed: #eb5757;
$lightOrange: #f2994a;

$companyName: $turqois;
$darkNavbar: #393e41;

.center {
  margin: 0 auto;
  position: relative;
}

.w-full {
  width: 100%;
}

.w-80 {
  width: 80%;
}

@mixin scrollWithoutScrollbar {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  overflow: -moz-scrollbars-none;
  ms-overflow-style: none;
}
